.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 4x4 espacios */
    grid-template-areas: "a a a b " "c c d d  " "c c e e  " "f g g h";
    /* establece los espacios entre filas y columnas. */
    grid-gap: 10px;
    /* Relleno */
    padding: 0;
    grid-auto-rows: minmax(140px, auto);
}


/* Estilos */

.grid>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-area: a;
    background-color: red;
}

.item2 {
    grid-area: b;
    background-color: red;
}

.item3 {
    grid-area: c;
    background-color: yellow;
}

.item4 {
    grid-area: d;
    background-color: purple;
}

.item5 {
    grid-area: e;
    background-color: purple;
}

.item6 {
    grid-area: f;
    background-color: blue;
}

.item7 {
    grid-area: g;
    background-color: blue;
}

.item8 {
    grid-area: h;
    background-color: blue;
}